
<div class="totalbox">
    <h2>Please Login</h2>

    <form [formGroup]="form" (ngSubmit)="signIn()"><br/><br/>
        <input type="text" id="Email" formControlName="Email" placeholder="Email"><br/>
      <div class="boxcheckbox">
       
        <div *ngIf="form.get('Email').hasError('required')"><br />
          *All field is required
        </div>
        <div *ngIf="form.get('Email').hasError('email')"><br />
          Email is invalid
        </div>
        <h6 *ngIf="Result!=undefined" >{{Result}}</h6>
        <button class="loginbtn"  [disabled]="!form.valid">Login</button>
      </div>
    </form>
  </div>