input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
  }
  h1{
    transform: translate(40%, 10%);  
    color: #f06161;
    text-shadow: black 0.3px 0.3px 2px;
font-size: 30px;
  }
  label{
      font-size: 25px;
  }
  .div1{
    transform: translate(30%, 50%);    
  }
  .loginbtn{
    background: rgb(250, 113, 136);
    border-radius: 20px;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    cursor: pointer;

}
.loginbtn:hover,
.loginbtn:focus{
    background: f06161;
}